GitPython
Pillow
addict
cmake
colorama
einops
fairscale>=0.4.4
filelock
ftfy
future
fvcore
gdown # supports downloading the large file from Google Drive
git+https://github.com/WASasquatch/cstr
git+https://github.com/WASasquatch/ffmpy.git
git+https://github.com/WASasquatch/img2texture.git
gitpython
huggingface_hub
imageio
importlib_metadata
joblib
lmdb
lpips
matplotlib
mediapipe
numba
numpy
omegaconf
opencv-python
piexif
pilgram
python-dateutil
pyyaml
rembg
requests
scikit-image
scikit-learn
scipy
segment-anything
simpleeval
svglib
timm>=0.4.12
ultralytics!=8.0.177
yapf
