addict
clip-interrogator
# cmake
cmake
colorama
# conda install -c conda-forge dlib
# dlib
einops
fairscale>=0.4.4
filelock
ftfy
future
fvcore
gdown # supports downloading the large file from Google Drive
git+https://github.com/WASasquatch/cstr
git+https://github.com/WASasquatch/ffmpy.git
git+https://github.com/WASasquatch/img2texture.git
gitpython
GitPython
huggingface_hub
imageio
importlib_metadata
joblib
lmdb
lpips
matplotlib
matrix-client==0.4.0
mediapipe
numba
numpy
omegaconf
opencv-python
piexif
pilgram
Pillow
python-dateutil
pyyaml
rembg
requests
scikit-image
scikit-learn
scipy
segment-anything
simpleeval
svglib
timm
tqdm
ultralytics
yapf
